@import '../abstracts/variables';

.register__heading {
  border-bottom: 4px solid $white-color;
}

.register__business {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  #register__item {
    margin-top: 5px;
    font-size: 15px;
  }
}

#business {
  width: 90%;
}
